body {
    font-family: "Open Sans Condensed";
    font-size: 30px;
    background-image: url(../images/pink_dust.png);
  }


/* About page */
#abbotsford {
   float: left;
   margin: 25px;

}

.about {
    margin: 20px;
     background-color: white;
     font-size: 24px;
}

#main {
    /* background-color: white; */
    margin: 80px 0;
}


/* Portfolio page */
#portfolio {
    background-color: white;

}

.thumbnail {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 10px;
}

/* contact page */

#contactCard {
    background-color: white;
 
}

/* applies to all */

.footer {
    position: relative; 
    width: 100%;
    background-color: pink;
    border-color: hotpink;
    border-style: solid;
    font-size: 15px;
    text-align: center;
}
